@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 13%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 13%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 13%;

    /* FSSM vert foncé #1B5E20 */
    --primary: 124 55% 24%;
    --primary-foreground: 0 0% 100%;

    /* FSSM surface #F5F5F5 */
    --secondary: 0 0% 96%;
    --secondary-foreground: 0 0% 13%;

    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 46%;

    /* FSSM or #F9A825 */
    --accent: 37 92% 56%;
    --accent-foreground: 0 0% 13%;

    /* FSSM erreur #E53935 */
    --destructive: 1 77% 55%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 89%;
    --input: 0 0% 89%;
    --ring: 124 55% 24%;

    --radius: 0.5rem;

    /* FSSM succès #43A047 */
    --success: 123 41% 44%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
